/*
dec032 - yellow
3788c8 - blue
e84827 - red/orange
a24d98 - purple
30a836 - green
*/

Html body {
  flex-direction: column;
  display: block;
  font-family: 'Open Sans', sans-serif;
  columns: column;
  margin: 10px;
  font-size: 1.2em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


p {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
img {
  display: flex;
  width: 100%;
}

/*MAIN*/
.col1 {
  padding: 20px;
  margin-top: 0;
  border-top: outset;
}
.col2 {
  padding: 20px;
  margin-top: 0;
  border-top: outset;
}
.col3 {
  padding: 20px;
  margin-top: 0;
  border-top: outset;
}
.col4 {
  padding: 20px;
  margin-top: 0;
  border-top: outset;
}
.col5 {
  padding: 20px;
  margin-top: 0;
  border-top: outset;
}
.col6 {
  padding: 20px;
  margin-top: 0;
  border-top: outset;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: rgba(222, 192, 50, 0.8);
}
.footer {
  flex-direction: column;
  text-align: center;
}
/*.admission {
  flex-direction: column;
  text-align: center;
}
.hours {
  flex-direction: column;
  justify-content: center;
}*/
/*
dec032 - yellow
3788c8 - blue
e84827 - red/orange
a24d98 - purple
30a836 - green
*/
/* Mobile and Tablet */
@media only screen and (min-width: 250px) and (max-width: 699px) {
  h1 h2 h3 h4 {
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  .col-content {
    text-align: center;
  }

  .container {
    overflow: auto;
    scroll-behavior: smooth;

  }
  .menu {
    width: 20%;
    display: flex;
    /*padding-left: 50%;*/
    justify-content: space-between;
  }
  .dropbutton {
    display: block;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: #30a836;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin: left;
    max-height: 75%;
    width: 100%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #30a836;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
   background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
   display: block;
  }
  .dropdown:hover .dropbutton {
   background-color: #ddd;
  }
  #nav-home {
    background: white;
    color: black;
    display: flex;
    width: 150%;
  }
  .nav-explore {
    background: #30a836;
    padding: 5px;
    display: flex;
    width: 150%;
  }
  .nav-exhibition {
    background: #a24d98;
    padding: 5px;
    display: flex;
    width: 150%;
  }
  .nav-specials {
    background: #e84827;
    padding: 5px;
    display: flex;
    width: 150%;
  }
  .nav-visit {
    background: #3788c8;
    padding: 5px;
    display: flex;
    width: 150%;
  }
  .nav-involved {
    background: #dec032;
    padding: 5px;
    display: flex;
    width: 150%;
  }

  .headerImage {
    background-image: url(../images/scott-webb-102825.jpg);
    min-height: 200px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage2 {
    background-image: url(../images/research.jpg);
    min-height: 200px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage3 {
    background-image: url(../images/celso-405219.jpg);
    min-height: 200px;
    min-width: 100%;
    background-size: cover;
    position: relative;
  }
  .headerImage4 {
    background-image: url(../images/binoculars-2028304.jpg);
    min-height: 200px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage5 {
    background-image: url(../images/exhibition-1863344_1920.jpg);
    min-height: 200px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage6 {
    background-image: url(../images/kid.jpg);
    min-height: 200px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .learnbtn {
    background: #e84827;
    padding: 0.8em;
    padding: #e84827;
    border-radius: 10px;
    align-content: flex-end;
    position: absolute;
    color: white;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  .visit-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .visit-info a {
    text-decoration: none;
    color: #e84827;
  }

  .blockCosm {
    flex: 1;
    padding: 20px;
    background-image: url(../images/andrew-ruiz-3484212.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  .blockEvo {
    background-image: url(../images/mammoth2.jpg);
    flex: 1;
    padding: 20px;
    justify-content: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  .blockBio {
    background-image: url(../images/people-219985_12802.jpg);
    flex: 1;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  .blockAi {
    background-image: url(../images/billetto-editorial-3346862.jpg);
    flex: 1;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    background: #dec032;
    padding: 10px;
  }
}
/* Laptop and Desktop */
@media only screen and (min-width: 700px){
  h1 {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
  }
  h2 {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
  }
  h3 {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
  }
  h4 {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
  }
  p {
    font-size: 1.5em;
  }
  #logo {
    width: 100%;
    flex-direction: column;
  }
  #nav-home {
    background: white;
    color: black;
    padding: 10px;
    color: #3788c8;
    margin: 5px;
  }
  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
  }
  .nav-explore {
    background: #30a836;
    padding: 5px 15px 5px 15px;
    justify-content: space-between;
    border-radius: 10px;
    margin: 5px;
  }
  .nav-exhibition {
    background: #a24d98;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 5px;
  }
  .nav-specials {
    background: #e84827;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    margin: 5px;
  }
  .nav-visit {
    background: #3788c8;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 5px;
  }
  .nav-involved {
    background: #dec032;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 5px;
  }
  .nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-desktop a {
    text-decoration: none;
    color: white;
    text-align: right;
    flex-direction: row;
  }
  .dropbutton {
    display: none;
  }
  .headerImage {
    background-image: url(../images/exhibition-1863344_1920.jpg);
    min-height: 700px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage2 {
    background-image: url(../images/research.jpg);
    min-height: 700px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage3 {
    background-image: url(../images/celso-405219.jpg);
    min-height: 700px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage4 {
    background-image: url(../images/binoculars-2028304.jpg);
    min-height: 700px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage5 {
    background-image: url(../images/exhibition-1863344_1920.jpg);
    min-height: 700px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .headerImage6 {
    background-image: url(../images/kid.jpg);
    min-height: 700px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .learnbtn {
    background: #e84827;
    font-size: 3em;
    padding: 0.8em;
    border-radius: 30px;
    padding: #e84827;
    align-content: center;
    position: absolute;
    top: 70%;
    right: 5%;
    color: white;
  }
  .col-content {
    text-align: center;
  }
  .explore {
    display: flex;
    width: 30%;
  }
  .exploreRes {
    display: flex;
    width: 90%;
    align-items: center;
  }

  .visit-info {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px;
    text-align: center;
    border-top: outset;
  }
  .visit-info a {
    text-decoration: none;
    color: #e84827;
  }

  .blockCosm {
    flex: 1;
    padding: 20px;
    background-image: url(../images/andrew-ruiz-3484212.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  .blockEvo {
    background-image: url(../images/mammoth2.jpg);
    flex: 1;
    padding: 20px;
    justify-content: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  .blockBio {
    background-image: url(../images/people-219985_12802.jpg);
    flex: 1;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  .blockAi {
    background-image: url(../images/billetto-editorial-3346862.jpg);
    flex: 1;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin: 10px;
  }
  footer {
    display: flex;
    flex-direction: row;
    background: #dec032;
    padding: 10px;
  }
}
/*
dec032 - yellow
3788c8 - blue
e84827 - red/orange
a24d98 - purple
30a836 - green
*/
